---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="container py-2" style="height:50rem">
        <h1>About Me</h1>

        <p>
            Hello! I am an alpinist and author. I use this site as a sort of
            old-school blog, to share and remember my life and adventures.
        </p>
    </div>
</BaseLayout>
