---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="container py-2" style="height:50rem">
        <h1>About Me</h1>

        <p>
            Hello! I am an alpinist and author. While I spend as much time as
            possible travelling, living in my car. I am a Colorado native, and
            still spend my winters there.
        </p>
        <p>
            I spend much of my time in the mountains as possible, always pushing
            the boundaries of what my body can achieve. I have climbed over 60
            unique 14,000+ foot peaks in the contiguous US, and I have set my
            sights on Alaska and Canada. My favorite niche is mixed climbing,
            and I do my best to get on the tools every month of the year.
        </p>
        <p>
            I also write science-fiction and poetry. While it has lately taken a
            back seat to my career and adventures, my science-fiction world is
            one of my greatest passions, and it has been a work in progress
            since 2019. Much of this site is dedicated to the worldbuilding and
            language construction inherent to its setting.
        </p>
        <p>
            Currently, I work a remote Technical Support job, with Azure App
            Services. I am educated as a full stack web developer, and I hope to
            land a career that will faciliate my lifestyle as a digital nomad.
        </p>
        <p>
            Regardless of the endeavor, I strive to give 100% in all I do, and I
            intend to learn and improve until the mountains take me.
        </p>
        <p>
            If you'd like to get in touch to plan a rad climb or collaborate on
            a development project, take a look at my socials, and feel free to
            send me a message! I respond to everyone.
        </p>
    </div>
</BaseLayout>
