---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My Astro Learning Blog</h2>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        <li><a href="/posts/test-post/">Post 1</a></li>
        <li><a href="/posts/test-post2/">Post 2</a></li>
    </ul>
</BaseLayout>
