---
import BaseLayout from "../layouts/BaseLayout.astro";
const allTripReports = await Astro.glob("./tripReports/*.md");
const allPoetry = await Astro.glob("./poetry/*.md");
const allBio = await Astro.glob("./autobio/*.md");
const combinedPosts = [...allPoetry, ...allTripReports, ...allBio];
const uniqueTags = [
    ...new Set(combinedPosts.map((post) => post.frontmatter.tags).flat()),
];
---

<BaseLayout>
    <div class="container py-2" style="height:50rem">
        <h1>Sort by tag</h1>
        <div class="tags">
            {
                uniqueTags.map((tag) => (
                    <p class="tag">
                        <a href={`/tags/${tag}`}>{tag}</a>
                    </p>
                ))
            }
        </div>
    </div>
</BaseLayout>
<style>
    a {
        color: #00539f;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
    }
    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
